@model List<DAL.SystemMessageViewModel>
@{
    var messageTypes = Model.Select(q => new { q.Type, q.Title }).Distinct();
}
<input type="hidden" id="PersonId" value="@ViewBag.PersonId" />
<input type="hidden" id="FamilyId" value="@ViewBag.FamilyId" />

<div class="text-right">
    <div class="bg-info">
        @foreach (var item in messageTypes)
        {
            <h3>@item.Title</h3>
            <ul class="alert alert-warning">
                @foreach (var message in Model.Where(q => q.Type == item.Type))
                {
                    <li>@message.Desc</li>

                }
            </ul>
        }
    </div>

</div>
<script>
    $(document).ready(function () {
        if ($("#createSimplePersonResult #PersonId").val() !== undefined)
            personInserted('تعریف فرد جدید');

    });
    function personInserted(title) {
      
        if ($("#createSimplePersonResult #PersonId").val() !== "") {
            id = $("#createSimplePersonResult #PersonId").val();
            showEditMember(id,title);
        }
    }
</script>

