
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="container" ng-app="DefaultApp" >
    
    <div ng-view>
        Please Wait ...
    </div>

   
</div>
