@{
    ViewBag.Title = "سامانه جامع مدیریت داده جمعیت امام علی(ع)";
}

<div class="jumbotron">
    <h1>سامانه جامع مدیریت داده</h1>
    <p class="lead">این سامانه جهت مدیریت اطلاعات خانوارهای شناسایی شده و افراد تحت پوشش خانه های ایرانی تعبیه شده است </p>
    <p>
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>مدیریت پرونده ها</h2>
        <p>
            در این بخش شما میتوانید اطلاعات خانواده های تحت پوشش را مشاهده کنید و در صورت
            نیاز آن را اصلاح کنید
        </p>
        <p>
            @Html.ActionLink("مدیریت پرونده ها", "PersonIndex", "ManagePerson") &raquo;

        </p>
    </div>
    <div class="col-md-4">
        <h2>سایت قدیم</h2>
        <p>
            تا زمانیکه سایت فعلی دیتا به صورت کامل عملیاتی شود، میتوانید با مراجعه به سایت قدیم پرونده های کودکان و خانواده های تحت پوشش را مشاهده نمایید
        </p>
        <p><a class="btn btn-default" href="http://82.99.218.100:8080/Default.aspx">سایت قدیم &raquo;</a></p>
    </div>
   
</div>