@{
    ViewBag.Title = "سامانه جامع مدیریت داده جمعیت امام علی(ع)";
}

<div class="jumbotron">
    <h1 class="text-info">سامانه جامع مدیریت داده</h1>
    <h3 class="text-warning">اطلاعات ورزشی خانه های ایرانی</h3>
    <p class="lead">این بخش از سامانه جهت مدیریت  اطلاعات ورزشی کودکان و نوجوانان خانه های ایرانی ایجاد شده است. </p>
    <p>
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2> سرپرست تیم ورزشی</h2>
        <p>
            در این بخش شما به عنوان سرپرست یک تیم ورزشی میتوانید اطلاعات تیم های ورزشی خود را مشاهده و اصلاح کنید
        </p>
        <p>
            @Html.ActionLink("ورود سرپرست ورزشی", "PersonIndex", "ManagePerson") &raquo;

        </p>
    </div>
    <div class="col-md-4">
        <h2> اعضای کمیته فنی</h2>
        <p>
            تا زمانیکه سایت فعلی دیتا به صورت کامل عملیاتی شود، میتوانید با مراجعه به سایت قدیم پرونده های کودکان و خانواده های تحت پوشش را مشاهده نمایید
        </p>
        <p><a class="btn btn-default" href="http://82.99.218.100:8080/Default.aspx">ورود اعضای کمیته فنی &raquo;</a></p>
    </div>
   
</div>