@model IEnumerable<DAL.FamilyViewModel>

@{
    ViewBag.Title = "مدیریت پرونده ها";

}



<div id="secSearch">
    @Html.Action("SearchForm")
</div>
<div class="bg-faded text-left mt-3">
    @Ajax.ActionLink("تعریف فرد جدید", "CheckPerson", null, new AjaxOptions
    {
        UpdateTargetId = "ModalBody",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "modalProgress",
        OnBegin = "showCreatePerson('تعریف فرد جدید')",

    }, new { @class = "btn btn-primary" })
  </div>
<div class="modal-header" id="searchProgress" style="display:none;">
    <div class="">
        <img src="~/images/General/loading.gif" class="img-responsive" />
    </div>
</div>
<div id="SearchFamilyResult">
    @Html.Partial("IX", Model)
</div>

<div class="modal fade modal-backdrop" id="myModal" style="width:100%;padding-top:40px;" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">


    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-header">

                <h5 class="modal-title" id="ModalTitle"></h5>
                <button type="button" data-dismiss="modal" aria-label="Close" class="btn btn-danger" title="بستن">
                    <span class="fa fa-close" aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-header" id="modalProgress" style="display:none;">
                <div class="">
                    <img src="~/images/General/loading.gif" class="img-responsive" />
                </div>
            </div>
            <div class="modal-body" id="ModalBody">

            </div>

        </div>
    </div>
</div>


<script src="http://data.sosapoverty.org/CustomReferences/Scripts/MdBootstrapPersianDateTimePicker/jalaaliNew.js"></script>
<script src="http://data.sosapoverty.org/CustomReferences/Scripts/MdBootstrapPersianDateTimePicker/jquery.Bootstrap-PersianDateTimePickerNew.js"></script>


<script type="text/javascript">

    function updateProfilePic() {
        if ($("#personId").val() !== "") {
            id = $("#personId").val();

            $('#img-' + id).attr('src', $("#imgPreviewPerson").attr('src'));
        }
    }

    $(document).ready(function () {
        if ($('#selectedPersonId').val() !== "")
            showUploadProfilePic($('#selectedPersonId').val());
    });

    function setSearchSection() {
        $.ajax({
            url: "../ManagePerson/SearchForm",
            type: "GET"
        }).done(function (result) {
            $('#secSearch').html(result);
        });
    }
    function showUploadProfilePic(id, title) {
        $.ajax({
            url: "../ManagePerson/UploadProfilePic/" + id,
            type: "GET"
        }).done(function (result) {
            $('#ModalTitle').text(title);
            $('#ModalBody').html(result);
            $('#myModal').modal({ backdrop: 'static', keyboard: false });
        });
    }
    function showCreatePerson(title) {
        $('#ModalTitle').text(title);
        $('#ModalBody').html("");
        $('#myModal').modal({ backdrop: 'static', keyboard: false });


    }
    function showAddNewMember(id, title) {

        $.ajax({
            url: "../ManagePerson/CheckPerson?familyId=" + id,
            type: "GET"
        }).done(function (result) {
            $('#ModalTitle').text(title);
            $('#ModalBody').html(result);
            $('#myModal').modal({ backdrop: 'static', keyboard: false });
        });
    }
    function showEditMember(id, title) {

        $.ajax({
            url: "../ManagePerson/EditMember/" + id,
            type: "GET"
        }).done(function (result) {
            $('#ModalTitle').text(title);
            $('#ModalBody').html(result);
            $('#myModal').modal({ backdrop: 'static', keyboard: false });
        });
    }
    function showMemberSportInfo(id, title) {
        $.ajax({
            url: "../ManagePerson/MemberSportInfo/" + id,
            type: "GET"
        }).done(function (result) {
            $('#ModalTitle').text(title);
            $('#ModalBody').html(result);
            $('#myModal').modal({ backdrop: 'static', keyboard: false });
        });
    }
    function showRemoveMember(title) {
        $('#ModalTitle').text(title);
        $('#ModalBody').html("");
        $('#myModal').modal({ backdrop: 'static', keyboard: false });
    }

    function showMembersSection(tabId, trId) {
        $("#dep-" + tabId + " #tr-" + trId).show(500);
        $("#dep-" + tabId + " #plus-" + trId).hide(0);
        $("#dep-" + tabId + " #minus-" + trId).show(0);
    }
    function hideMembersSection(tabId, trId) {
        $("#dep-" + tabId + " #tr-" + trId).hide(500);
        $("#dep-" + tabId + " #plus-" + trId).show(0);
        $("#dep-" + tabId + " #minus-" + trId).hide(0);
    }

    function showPersonMostInfoSection(title) {
        $('#ModalTitle').text(title);
        $('#ModalBody').html("");
        $('#myModal').modal({ backdrop: 'static', keyboard: false });
    }

    function showFamilyInfoSection(title) {
        $('#ModalTitle').text(title);
        $('#ModalBody').html("");
        $('#myModal').modal({ backdrop: 'static', keyboard: false });
        
    }
    function openSaveSimplePerson(title) {
        $('#ModalTitle').text(title);
        $('#ModalBody #CreateSimplePerson').html("");
        $('#createPersonSection #checkPersonSection').hide(500);
        $('#ModalBody #CreateSimplePerson').show(500);
        
    }
    function showPersonMostInfo(title) {
        $('#ModalTitle').text(title);
        $('#ModalBody').html("");
        $('#myModal').modal({ backdrop: 'static', keyboard: false });
    }



</script>

