
<div class="alert alert-info">
    <input type="text" class="form-control col-4" ng-model="filter.BankName" placeholder="متن جستجو"/>
</div>

<table class="table table-bordered">

    <tr>
        <th>ردیف</th>
        <th>نام</th>
        <th>نام مختصر</th>
        <th>تاریخ</th>
        <th>
            عملیات
        </th>
      
    </tr>
    <tr ng-repeat="b in banks|filter:filter">
        <td>{{$index+1}}</td>
        <td>{{b.BankName}}</td>
        <td>{{b.BankSummaryName}}</td>
        <td>{{b.UpdateTime}}</td>
        <td>
            <a class="btn btn-info btn-xs" ng-click="detailBank(b.BankId)">جزئیات</a>
            <a class="btn btn-warning btn-xs" ng-click="editBank(b.BankId)">ویرایش</a>
            <a class="btn btn-danger btn-xs" ng-click="deleteBank(b.BankId)">حذف</a>
        </td>
    </tr>
</table>