<h2> حذف کاربر</h2>
<div class="alert alert-danger">
    آیا از حذف {{user.Username}} مطمئنید؟
    <input type="button" value="بلی" ng-click="delete()" class="btn btn-danger" />
    <input type="button" value="خیر" ng-click="return()" class="btn btn-success" />
</div>
